.cart-table {
    text-align: left;
}
.cart-table-prd:first-of-type {
    padding-top: 30px;
}
.cart-table-prd {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
}.cart-table-prd-image {
    width: 145px;
}
.cart-table-prd>* {
    display: table-cell;
    vertical-align: middle;
}
.cart-table-prd-action>a {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: #27c7d8;
    text-decoration: none;
}
.cart-table-prd-action {
    width: 140px;
    padding-left: 20px;
}
.cart-table-prd-price, .cart-table-prd-qty {
    font-size: 11px;
    line-height: 18px;
    color: #424242;
    text-transform: uppercase;
}
.cart-table-prd-price {
    width: 15%;
   display: table-cell;
    vertical-align: middle;
}
.cart-table-prd-name h5, .cart-table-prd-name h5 a {
    font-size: 11px;
    line-height: 1.2em;
    color: #424242;
    text-transform: uppercase;
      margin-bottom: 10px;
}
.cart-table-prd-name h2, .cart-table-prd-name h2 a {
    font-size: 14px;
    line-height: 1.6em;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.btn, .btn:active, .btn:active:focus, .btn:focus, .btn:visited {
    box-shadow: none;
    color: #fff;
    background-color: #276ed8;
    outline: 0;
    text-decoration: none;
}
.btn {
    padding: 10px 22px;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    font-weight: 500;
    font-family: Montserrat,sans-serif;
    cursor: pointer;
    transition: all .2s ease;
}
.btn--lg {
    padding: 16px 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width:100%
}
.card-total {
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
}
.sidebar-block .card-total:not(:only-child) {
    margin-bottom: 15px;
}
.sidebar-block {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f7f7f7;
    position: relative;
}
.sidebar-block .sidebar-block_title {
    padding: 20px 45px 20px 0;
}
.sidebar-block_title {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
    line-height: 1.333em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.total{

text-align: right;
margin-right: 25%;
}
hr{
   background-color:#276ed8;
   height: 5px;
}