* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-image: url(img/fondo.jpg);
  max-width: 100%;

}
h1 {
  font-size: 2em;
  text-align: center;
  padding: 30px;
}
.container {
 margin-top: 150px;
margin-left: 25px; 
  width: 400px;
  max-width: 100%;
  background-color: #120d0dce;
  padding: 20px;
  border: solid 1px #000000;
  border-radius: 10px;
  
}

.sign-up {
  width: 50%;
  height: 70px;
  border: solid 2px #0062ff;
  text-align: center;
  border-radius: 5px;
}
.sign-up:hover, .log-in:hover {
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.sign-up-header {
  margin-top: 23px;
  border-radius: 5px;
}
.log-in {
  width: 50%;
  height: 70px;
  border: solid 2px #0062ff;
  margin-top: -70px;
  margin-left: 178px;
  border-radius: 5px;
}
.log-in-header {
  margin-top: 23px;
  text-align: center;
  border-radius: 5px;
}
.active {
  background-color: #0062ff;
  color: #0a0606;
  border-radius: 5px;
}
input {
  width: 100%;
  padding: 12px;
  border: solid 1px #0062ff;
  margin-top: 10px;
  font-family: inherit;
  border-radius: 5px;
}
.first-name, .last-name {
  width: 49.4%;
  margin-top: -5px;
  border-radius: 5px;
}
.last-name {
  margin-right: 0;
  border-radius: 5px;
}
::placeholder {
  font-style: italic;
}
.email {
  margin-top: -5px;
  border-radius: 5px;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  border: solid 2px #0062ff;
  background-color: #0062ff;
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
  border-radius: 5px;
}
button:hover {
  
  cursor: pointer;
}
#sign-up-form {
  display: block;
}
#log-in-form {
  display: none;
}
.password {
  float: right;
  font-style: italic;
  margin-top: 9px
}
.password:hover {
  font-weight: bold;
  cursor: pointer;
}
:focus {
  outline-color: #0062ff;
}